<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sk.netdisk.mapper.DataDelMapper">

    <resultMap id="BaseResultMap" type="com.sk.netdisk.pojo.DataDel">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="dataId" column="data_id" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,data_id,create_by,
        create_time
    </sql>

    <select id="infoAllDataDel" resultType="com.sk.netdisk.pojo.vo.DataDelInfoVo">
        SELECT dd.id,
               dd.data_id,
               d.`name`,
               d.type,
               dd.create_by,
               DATE_FORMAT(dd.create_time, '%Y年%m月%d日 %H:%i') AS create_time,
               DATEDIFF(DATE_ADD(NOW(), INTERVAL 30 DAY), NOW()) days
        FROM `data_del` dd
                 inner join data d on
            d.id = dd.data_id
        where dd.create_by = #{userId}
    </select>
</mapper>
