<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sk.netdisk.mapper.DataShareMapper">

    <resultMap id="BaseResultMap" type="com.sk.netdisk.pojo.DataShare">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="link" column="link" jdbcType="VARCHAR"/>
        <result property="passCode" column="pass_code" jdbcType="VARCHAR"/>
        <result property="accessNum" column="access_num" jdbcType="INTEGER"/>
        <result property="accessStatus" column="access_status" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
        <result property="expireDays" column="expire_days" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,link,pass_code,
        access_num,access_status,create_time,
        update_time,create_by,update_by,
        is_delete,expire_days
    </sql>

    <select id="traverseShares" resultType="com.sk.netdisk.pojo.dto.ShareInfoDto">
        select ds.id,
               ds.link,
               ds.pass_code,
               DATE_FORMAT(ds.create_time, '%Y年%m月%d日 %H:%i') AS create_time,
               ds.create_by,
               ds.expire_days,
               ds.access_num,
               ds.access_status,
               sd.look_num,
               sd.save_num,
               sd.download_num
        from `data_share` ds
                inner join share_detail sd on
                sd.data_share_id=ds.id

        where ds.is_delete = 0
          and ds.create_by = #{userId}
    </select>

    <select id="selectById" resultType="com.sk.netdisk.pojo.DataShare">
        select ds.id,
               ds.link,
               ds.pass_code,
               ds.access_num,
               ds.access_status,
               ds.create_time,
               ds.update_time,
               ds.update_time,
               ds.create_by,
               ds.is_delete,
               ds.expire_days
        from data_share ds
        where id = #{shareId}
          and is_delete = 0
    </select>

    <delete id="deleteById">
        delete
        from data_share
        where id = #{shareId}
    </delete>
</mapper>
