<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sk.netdisk.mapper.TransferPositionMapper">

    <resultMap id="BaseResultMap" type="com.sk.netdisk.pojo.TransferPosition">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="position" column="position" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="transferId" column="transfer_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,position,status,
        transfer_id
    </sql>
</mapper>
