<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sk.netdisk.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.sk.netdisk.pojo.User">
        <id property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="TINYINT"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="loginIp" column="login_ip" jdbcType="VARCHAR"/>
        <result property="loginDate" column="login_date" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="isVip" column="is_vip" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isLock" column="is_lock" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id
        ,username,password,
        nickname,email,sex,
        avatar,login_ip,login_date,
        status,is_vip,create_time,
        is_delete,update_time,is_lock
    </sql>


    <select id="findUserById" resultType="com.sk.netdisk.pojo.dto.UserInfoDto">
        select u.user_id,
               u.username,
               u.email,
               u.nickname,
               u.sex,
               u.avatar,
               u.status,
               u.is_vip,
               u.create_time,
               u.is_lock
        from user u
        where u.user_id = #{userId}
          and is_delete = 0
    </select>

</mapper>
