<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netdisk.system.mapper.QuickDataMapper">

    <resultMap id="BaseResultMap" type="com.netdisk.system.pojo.QuickData">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="dataId" column="data_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,user_id,data_id
    </sql>

    <select id="findDataByUserId" resultType="com.netdisk.system.pojo.Data">
        select
        d.*
        from quick_data qd
                 inner join `data` d on
            d.id = qd.data_id
        where qd.user_id = #{userId}
          and d.is_delete = 0
    </select>


    <select id="findUserIdAndDataIdByIdList" resultType="com.netdisk.system.pojo.QuickData">
        select
        create_by AS user_id,
        id AS data_id
        from `data`
        where id IN
        <foreach item="id" collection="dataIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        and is_delete=0
        and create_by=#{userId}
    </select>


</mapper>
